[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/screen_xfce4-terminal.desktop]
row=0
col=0

[/home/user/Desktop/anydesk.desktop]
row=1
col=0

[/home/user/Desktop/Firefox.desktop]
row=2
col=0

