[Desktop Entry]
Name=XMRig screen
Terminal=true
Exec=xfce4-terminal -e 'sudo screen -r xmrig'
Type=Application
#Icon=/path/icon.png
Categories=Utility;
Icon=utilities-terminal
Comment=
Path=
StartupNotify=false
